/* //////mobile layout/////// */

/* General */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;;
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: steelblue;
    background-color: whitesmoke;
    display: flex;
    flex-flow:  column nowrap;
    
}

h3 {
    font-size: 14px;
    padding-top: 5px;
}



h2 {
    margin-top: 10px;
    margin-bottom: 4px;
    font-family: 'La Belle Aurore', cursive;
    font-size: 1.5em;
    color: rgba(34, 168, 125, 66);

}

/* Header and Navigation */

header {
    background-color: rgba(34, 168, 125, 66);
}


.container,
.main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-header {
    font-family: 'Playfair Display', serif;
    color: white;
    letter-spacing: 2px;
}


.main-nav li {
    display: none;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin-top: 0;
    padding-right: 15px;
    font-family: 'Playfair Display', serif;
}

.visible-nav-items {
    display: flex;
}

i {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: forestgreen;
    background-color: white;
}

/* Banner */
#banner-one,
#banner-two{
    color: white;
    font-size: 1.5em;
    padding-right: 15px;
    border-right: solid;
}

#banner-three{
    color: white;
    font-size: 1.5em;
}

.banner-head{
    color: white;
    font-size: 3em;
}

.banner-space{
    opacity: 1;
    color: white;
}

.banner {
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(./images/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    text-align: center;
    padding-top: 4em;
    padding-bottom: 4em;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

/* Body */

#welcome,
#experience,
#enjoy,
#me,
#recipe,
#tips {
    font-size: 2.5em;
}

main {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 0 auto;
    min-height: auto;
    justify-content: space-between;
}

.experience {
    margin: 0 15px 0 15px;
}

.tertiary {
    margin-top: 15px;
}


.about-main,
.recipe-main,
.tips-main {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    flex: 1 0 auto;
    min-height: auto;
    background-color: whitesmoke;
    margin-top: 0;
}

.ingredient-list {
    text-align: left;
}

.ingredient-list li {
    list-style: none;
    text-align: left;
}

.primary,
.secondary,
.tertiary {
    text-align: center;
}

.main-image {
    width: 333px;
}

/* Newsletter */
.newsletter {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    color: black;
    font-family: 'Playfair Display', serif;
    background-color: whitesmoke;
    padding-bottom: 10px;
}

#email {
    border-radius: 4px;
}

#button {
    border-radius: 4px;
    margin-top: 5px;
}

#invalid {
    display: none;
}

#valid{
    display: none;
}

/* Footer */

.foot-nav {
    list-style: none;
    margin-left: 0;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(197, 201, 206);
    margin-top: 0;
    flex-shrink: 0;
}

.foot-nav,
.foot-nav li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.foot-nav li {
    margin-right: 5px;
    font-family: 'Playfair Display', serif;
    padding-right: 5px;
}

.footnote {
    word-wrap: nowrap;
    color: white;
    letter-spacing: 1px;
    font-family: 'Playfair Display', serif;
}




/* ////////computer layout//////// */

@media (min-width: 740px){


    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 3em;
    }

    .container {
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 100%;
    }

    .main-header {
        margin-left: 30px;
        flex-direction: row;
    }

    .main-nav {
        width: auto;
        flex-wrap: nowrap;
    }

    .main-nav li {
        float: left;
        margin-right: 8px;
        
    }

    .banner{
        justify-content: space-around;
    }

    #banner-one,
    #banner-two{
        font-size: 2.75em;
        border-right: none;
        padding-right: 0;
    }

    #banner-three{
        font-size: 3em;
    }

    .banner-space {
        display: none;
    }

    main {
        flex-direction: row;
        padding: 15px;
        text-align: center;
        justify-content: center;
    }

    .about-main,
    .recipe-main,
    .tips-main {
        max-width: 70%;
        align-self: center;
    }

    .primary {
        order: 1;
        flex-grow: 0;
        padding: 5px;
        width: 34%;
    }

    .secondary {
        order: 0;
        padding: 5px;
        width: 33%;
    }

    .tertiary {
        margin-top: 0;
        padding: 5px;
        order: 2;
        width: 33%;
    }

    .main-image {
        max-width: 220px;
        height: auto;
        margin-top: 10px;
    }

    .foot-nav li {
        padding-right: 15px;
    }
}